body {
  margin: 20px;
  /* background-color: blueviolet; */
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
